[Desktop Entry]
Type=Application
Name=Tempo Launcher
GenericName=Tempo Launcher
Comment=Game Launcher
Exec=TempoLauncher.sh
Categories=Game;Network;
Icon=com.tempogames.TempoLauncher
Keywords=Tempo;Tempo Storm;Tempo Launcher;The Bazaar;
Terminal=true
